* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #161A30;
  }
.main-content {
    font-size: 18px;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 1.6;
  }